[% # Show a stack -%]
[% META title = 'stack' -%]
[% VIEW stack_view -%]
[% BLOCK list -%]
[% FOREACH i IN item -%]
[% i.content -%]
[% IF i.stacks -%]
[% tt_stacks = [ ]; tt_stacks.push(stack) FOREACH stack = i.stacks -%]
[% view.print(tt_stacks.list) -%]
[% END -%]
[% END -%]
[% END -%]
[% END -%]
[% stack_view.print(stacks) -%]
