<html>
[% stacks.push(substack.stack) FOREACH substack = stacks.0.substacks %]
<head>
[% INCLUDE 'admin/edit/header_edit.tt'  %]
<title>[% stacks.0.titulo %]</title>
</head>
<body>
[% INCLUDE 'admin/edit/body_edit.tt'  %]
<span style="color: red">YAC &copy; <a href="http://www.studiodesign88.com">SD88</a></span>
</body>
</html>
